---
import Layout from "../layouts/Layout.astro";

const data = await fetch(
	"https://api.nasa.gov/planetary/apod?api_key=Oz1syckWP9dCGJAyFsECeKv4e70OYjjg3me6qNkn")
	.then(res => res.json())
---

<Layout>
  <main class="max-w-screen-md p-4 mx-auto">
    <h1 class="text-[22px] text-left  font-bold sm:text-4xl lg:text-5xl md:mb-2 md:mt-8">
      Astronomy Picture of the day
    </h1>
    <h2 class="mb-4 text-sm font-semibold text-left lg:text-lg text-neutral-400">
      Discover the cosmos! Each day a different image or photograph of our
      fascinating universe is featured, along with a brief explanation written
      by a professional astronomer.
    </h2>
      <div class="w-full overflow-hidden font-medium border-4 shadow-md border-slate-700 rounded-xl">
        <a href={data.hdurl} target="_blank">
			<img src={data.hdurl} alt={data.title} />
        </a>
      </div>
    <h3 class="text-sm text-center text-neutral-400 md:text-base italic">{data.date}</h3>
	<h2 class="mt-4 text-xl font-bold text-left lg:text-lg text-white mb-1">
		{data.title}
	</h2>
    <p class="mb-4 text-sm font-semibold text-left lg:text-lg text-neutral-400">{data.explanation}</p>
  </main>
</Layout>