---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const data = await fetch(
	"https://api.nasa.gov/planetary/apod?api_key=Oz1syckWP9dCGJAyFsECeKv4e70OYjjg3me6qNkn")
	.then(res => res.json())

// Fecha en el formato "year/month/day"
const fechaOriginal = data.date;

// Divide la fecha en partes
const partesFecha = fechaOriginal.split("-");

// Obtiene las partes de la fecha
const year = partesFecha[0];
const month = partesFecha[1];
const day = partesFecha[2];

// Crea una nueva cadena de fecha en el formato "day/month/year"
const fechaFormateada = `${day}-${month}-${year}`;
---

<Layout>
  <main class="max-w-screen-md p-4 mx-auto scroll-reveal">
    <h1 class="mb-1 text-2xl font-bold text-left sm:text-4xl lg:text-5xl md:mb-2 md:mt-8 scroll-reveal1">
      Astronomy Picture of the day
    </h1>
    <p class="mb-4 text-sm font-semibold text-left lg:text-lg text-neutral-400 sm:text-base scroll-reveal2">
      Discover the cosmos! Each day a different image or photograph of our
      fascinating universe is featured, along with a brief explanation written
      by a professional astronomer.
    </p>
      <div class="w-full overflow-hidden font-medium border-4 shadow-md border-slate-700 rounded-xl bg-slate-700 scroll-reveal3">
        <a href={data.hdurl} target="_blank">
			    <Image src={data.hdurl} alt={data.title} width={1920} height={1080} class="transition duration-300 lg:hover:scale-105"/>
        </a>
      </div>
    <time class="block text-sm italic text-left text-neutral-400 md:text-base scroll-reveal3">{fechaFormateada}</time>
    <section>
      <h2 class="mt-4 mb-1 text-xl font-bold text-left text-white lg:text-2xl scroll-reveal4">
        {data.title}
      </h2>
      <p class="text-sm font-semibold text-left text-neutral-400 sm:text-base scroll-reveal5">{data.explanation}</p>
      <h2 class="mt-4 mb-1 text-xl font-bold text-left text-white lg:text-2xl">
        Image credit & copyright
      </h2>
      <p class="text-sm font-semibold text-left text-neutral-400 sm:text-base">{data.copyright}</p>
    </section>
    <Footer />
  </main>
</Layout>