---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const response = await fetch("https://api.nasa.gov/planetary/apod?api_key=Oz1syckWP9dCGJAyFsECeKv4e70OYjjg3me6qNkn")
const data = await response.json();

// Obtén la fecha actual
const fechaActual = new Date();

// Resta 5 días a la fecha actual
const fechaRestada = new Date();
fechaRestada.setDate(fechaActual.getDate() - 5);

// Obtiene el año, mes y día en formato year/month/day de la fecha actual y la fecha restada
const añoActual = fechaActual.getFullYear();
const mesActual = fechaActual.getMonth() + 1; // Los meses comienzan desde 0
const diaActual = fechaActual.getDate();

const añoRestado = fechaRestada.getFullYear();
const mesRestado = fechaRestada.getMonth() + 1; // Los meses comienzan desde 0
const diaRestado = fechaRestada.getDate();

// Formatea las fechas como year/month/day
const fechaActualFormateada = `${añoActual}-${mesActual}-${diaActual}`;
const fechaRestadaFormateada = `${añoRestado}-${mesRestado}-${diaRestado}`;

console.log("Fecha actual: ", fechaActualFormateada);
console.log("Fecha restada 5 días: ", fechaRestadaFormateada);

const response2 = await fetch(`https://api.nasa.gov/planetary/apod?api_key=Oz1syckWP9dCGJAyFsECeKv4e70OYjjg3me6qNkn&start_date=${fechaRestadaFormateada}`);
const data2 = await response2.json();
console.log(data2);
---

<Layout>
  <main class="max-w-screen-md p-4 mx-auto scroll-reveal pt-6 md:pt-12">
    <h1 class="mb-1 text-3xl font-bold text-left sm:text-4xl lg:text-5xl md:mb-2 scroll-reveal1">
      Astronomy Picture of the day
    </h1>
    <p class="mb-4 font-semibold text-left lg:text-lg text-neutral-400 sm:text-base scroll-reveal2">
      Discover the cosmos! Each day a different image or photograph of our
      fascinating universe is featured, along with a brief explanation written
      by a professional astronomer.
    </p>
    <div class="w-full overflow-hidden font-medium border-4 shadow-md border-slate-700 rounded-xl bg-slate-700 scroll-reveal3">
      <a href={data.hdurl} target="_blank">
			  <Image src={data.hdurl} alt={data.title} width={1920} height={1080} loading="eager" class="transition duration-300 lg:hover:scale-105"/>
      </a>
    </div>
    <time class="block italic text-left text-neutral-400 md:text-base scroll-reveal3">{data.date}</time>
      <h2 class="mt-4 mb-1 text-xl font-bold text-left text-white lg:text-2xl scroll-reveal4">
        {data.title}
      </h2>
      <p class="font-semibold text-sm text-left text-neutral-400 sm:text-base scroll-reveal5">{data.explanation}</p>
      <h2 class="mt-4 mb-1 text-xl font-bold text-left text-white lg:text-2xl">
        Image credit & copyright
      </h2>
      <p class="font-semibold text-sm text-left text-neutral-400 sm:text-base">{data.copyright}</p>
      <h2 class="mt-4 mb-1 text-xl font-bold text-left text-white lg:text-2xl">
        Previous pictures
      </h2>
      <ul class="list-disc pl-5">
      {
        data2.map((potd) => (
          <li><a href={potd.hdurl} target="_blank" class="text-neutral-400 hover:text-white transition">{potd.title}</a></li>
        ))
      }
      </ul>
    <Footer />
  </main>
</Layout>